
//- ! Это не точная структуа
mixin HorizontalScroll()
  .sticky_parent
    .sticky
      .scroll_section
        .scroll__item 1
        .scroll__item 2
        .scroll__item 3


//- ----------------------------------
  .horizontal-parend
    .horizontal-scroll
      .horizontal-content
        .horizontal-item
        .horizontal-item
        .horizontal-item