-
  const name = 'Jonny';
  
  function massage(name) {
    return `Hello ${name}`
  };



h1.message #{massage(name)} - Использование функции


//- -------------------------------------------------

//- Использование объекта :
-
  const element = [
    {title: 'Lacosta', description: 'Французская компания по производству одежды'}, 
    {title: 'The North Face', description: 'Американская компания, специализирующаяся на производстве спортивной одежды'},
    {title: 'Addidas', description: 'Немецкая компания по производству спортивной одежды'},
    {title: 'carhartt', description: 'Американская компания-производитель одежды (рабочая одежда)'},
  ]
//------------------------------------------------------------------------------------------
.element
  ul.element__list
    each item, index in element 
      li.element__item 
        h3.element__title #{item.title}
        p.element__txt #{item.description}
        //- контент Только для четвертого элемента "Carhartt"
        if index === 3
          p.element__content
            | Первый: Lorem ipsum dolor sit amet consectetur <span> adipisicing elit.</span> Temporibus minima veritatis magna
            strong labore laboriosam earum ipsa debitis similique. 
            | Delectus eos vero culpa quae id iure labore, quaerat accusamus nesciunt 
            a(href="#")  nobis.
