@import '../../_elements/CardGame/_CardGame.scss';

.ramdom-purchase {
  padding: 200px 0px;

  &__container {}

  &__auction {
    // @include flexbox(flex, space-between, center, row, nowrap, 30px);


  }

  &__item {
    // flex-basis: 30%;
    border: 1px solid red;
    height: 500px;
  }

  &__body {}
}