
mixin _btnsTab(className, data)
  -
    const btnsClass = {
      parrent: 'buttons-tab',
      children: className,
    }
  -
  div(class=`${btnsClass.parrent}`)
    each item in data 
      button(type='button' class=`${btnsClass.children}` data-button-system=item.unique)= item.title