
mixin Dropdown()
  -

  -

  nav.nav
    .nav__container
      .nav__menu(id='nav-menu')
      ul.nav__list 
        li.nav__item 
          a.nav__link(href="#") Первый уровень
        //-!------------------DROPDOWN 1------------------
        li.dropdown__item
          .nav__link.dropdown__link
            span dropdown lvl-1
            <i class="bi bi-caret-down-fill dropdown__arrow"></i>
          //- DROPDOWN MENU
          ul.dropdown__menu 
            - for (var x = 0; x < 2; x++)
              li
                a.nav__link(href="#") Второй уровень
            //-*------------------DROPDOWN-SUB 1------------------
            li.dropdown__sub-item 
              div.nav__link.dropdown__link 
                span dropdown lvl-2
                <i class="bi bi-caret-down-fill dropdown__arrow"></i>              
              ul.dropdown__sub-menu 
                - for (var x = 0; x < 2; x++)
                  li
                    a.nav__link(href="#") Третий уровень
            //-*------------------DROPDOWN-SUB 1------------------
            - for (var x = 0; x < 2; x++)
              li
                a.nav__link(href="#") Второй уровень
        //-!------------------DROPDOWN 1------------------
        li.nav__item 
          a.nav__link(href="#") Первый уровень 

        //-!------------------DROPDOWN 2------------------
        li.dropdown__item
          .nav__link.dropdown__link 
            span dropdown lvl-1
            <i class="bi bi-caret-down-fill dropdown__arrow"></i>
          ul.dropdown__menu 
            - for (var x = 0; x < 4; x++)
              li
                a.nav__link(href="#") element drop 2
        //-!------------------DROPDOWN 2------------------



