include ./components/_HeaderMenu.pug

mixin Header()
  -
    const menu = [
      {
        text: 'Home',
        href: '#',
      },
      {
        text: 'Settings',
        href: 'settings.html',
      },
      {
        text: 'Supports',
        href: 'supports.html',
      },
      {
        text: 'Service',
        href: 'service.html',
      },
      {
        text: 'Finance',
        href: '/html/financing.html',
      },
      {
        text: 'International',
        href: '/html/international.html',
      },
      {
        text: 'About',
        href: '/html/about.html',
      },
      {
        text: 'Contacts',
        href: '/html/contacts.html',
      },

    ]
  -

  header.header.fixed-element
    .header__container
      a(href="#").header__logo.dark-theme
        .logo <span>U</span><span>A</span> Sandbox 

      .header__menu
        +_HeaderMenu(menu)
