
mixin card-template()
  template#card-template
    .random-purchases.card(data-content-system="")
      a.random-purchase__link.card__link(href='#')
        figure.random-purchase__media.card__media
          img(src="" alt="")
          figcaption.random-purchase__overlay.card__overlay
            .random-purchase__content.card__content
              .random-purchase__preview.card__preview
                .random-purchase__video.card__video-wrapper
                  video.random-purchase__video.card__video(autoplay loop muted)
            .random-purchase__info.card__info
              h4.random-purchase__title.card__title
              p.random-purchase__txt.card__txt
      .random-purchase__footer.card__footer
        .random-purchase__actions.card__actions
          button.random-purchase__purchase-btn.card__purchase-btn(type="button")
            span Purchase
            span
              i.bi.bi-cart4
        .random-purchase__pricing.card__pricing
          span.original-price
          span.discounted-price
        .random-purchase__engagement.card__engagement
          span.heart-icon
            i.bi.bi-suit-heart-fill
          span.likes-count