//- ----------------------------Наследственность
//- extends ../shared/settings/pug/core/_loyaout.pug
extends ../../app/pug/_loyaout.pug
//- ----------------------------Наследственность

//-! -------------------------------------- PART
//-! -------------------------------------- PART

//-* -------------------------------------HEAD
block settings
  -
    var settings = {
      title: 'serivice',
      lang: 'uk',
    }
  -
prepend connection 
  link(rel="stylesheet", href="./css/main.css")
//-* -------------------------------------HEAD


//-: --------------------------------------BODY

block content
  
  main.main 
    section.hero
      .hero__container
        h1.hero__title.title Service page
        .block-content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis sequi corrupti veritatis illo enim harum necessitatibus obcaecati iure, iste, beatae, odio aliquid dolorum? Optio ipsa distinctio, iure quae accusamus fuga?

block scripts
  script(type="module", src=`./script/app.js`)
//-: --------------------------------------BODY

