mixin header(title='Default Title')
  .header
    .header__container
      .header__menu
        nav.menu__body
          ul.menu__list
            each item in header
              li.menu__item 
                a(href=item.href).menu__link #{item.txt}
