.toggletheme {
  position: relative;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: silver;

  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  padding: 0;
  overflow: hidden;

  // Можно ограничется только ::before
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }

  &::before {
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }


  // &::after {
  //   // Необезательно
  //   right: 10px;
  //   width: 16px;
  //   height: 16px;
  //   background: #ffd700;
  //   border-radius: 20rem;
  //   opacity: .7;
  // }

  &._active {
    background-color: #3a3a3a;

    &::before {
      transform: translate(30px, -50%);
      background-color: #ffd700;
    }

    &:hover::before {
      // box-shadow: 0 30px 81px rgba(231, 227, 2, 0.3);
      transition: .33s;
      transform: translate(27px, -50%);
    }

    // &::after {
    //   // Необезательно
    //   transform: translate(-25px, -50%);
    //   background: #000;
    //   opacity: .7;
    // }
  }

  // &:focus {
  // Необезательно
  //   box-shadow: 0 0 0 2px rgba(0, 8, 15, 0.5);
  // }

  &:hover::before {
    // box-shadow: 0 30px 81px rgba(231, 227, 2, 0.3);
    transition: .33s;
    transform: translate(3px, -50%);
  }
}