





mixin paper-stack(title)
  .paper-stack 
    h3.paper-stack__title #{title}
    .paper-stack__content 
      p.paper-stack__txt This is an example of a paper stack effect using CSS shadows.
      if block
        block
    


