
mixin Contact-details()
  .contact-details
    h2.contact-details__title Contact Us

    address.contact-details__address 
      p.contact-details__item
        strong Адреса в Сідней: <br>
        span P Sherman, 42 Wallaby Way, Sydney
      p.contact-details__item
        strong Адреса в Лондоні: <br>
        span 221b, Baker street
      p.contact-details__item
        strong Телефон: <br>
        a(href="tel:+41796108811").contact-details__marker: mark +91 79 510 5511
      p.contact-details__item
        strong Найкращий спосіб зв'язатися з нами — надіслати нам повідомлення в WhatsApp:
        a(href="#").contact-details__marker: mark Написати Нам

